<!-- Quick-view modal popup start-->
<div *ngFor="let product of products" [id]="'quick-view'+product.id" aria-hidden="true"
     aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg theme-modal quickviewm" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content quick-view-modal">
            <div class="modal-body">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-lg-6  col-xs-12">
                        <div class="quick-view-img">
                            <img [src]="!variantImage ? product.imageCover : variantImage" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h2>{{product.name}}</h2>
                            <h3>{{product.price | currency:productsService?.currency:'symbol'}}
                                <del><span
                                        class="money">{{product.salePrice | currency:productsService?.currency:'symbol'}}</span>
                                </del>
                            </h3>
                            <ul *ngIf="product.variants" class="color-variant">
                                <li (click)="changeVariantImage(variant.images)"
                                    *ngFor="let variant of product.variants"
                                    [class.active]="selectedColor == variant.images"
                                    [class]="variant.color"></li>
                            </ul>
                            <div class="border-product">
                                <h6 class="product-title">product details</h6>
                                <p>{{product.shortDetails}}</p>
                            </div>
                            <div class="product-description border-product">
                                <div *ngIf="product.size" class="size-box">
                                    <ul>
                                        <li *ngFor="let size of product.size"
                                            [ngClass]="{'active': selectedSize == size}">
                                            <a (click)="changeVariantSize(size)" [routerLink]="">{{size}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <h6 class="product-title">quantity</h6>
                                <div class="qty-box">
                                    <div class="input-group">
                      <span class="input-group-prepend">
                        <button (click)="decrement()" class="btn quantity-left-minus" data-field="" data-type="minus"
                                type="button">
                            <i class="ti-angle-left"></i>
                        </button>
                      </span>
                                        <input class="form-control input-number" disabled name="quantity" type="text"
                                               value="{{counter}}">
                                        <span class="input-group-prepend">
                        <button (click)="increment()" class="btn quantity-right-plus" data-field="" data-type="plus"
                                type="button">
                            <i class="ti-angle-right"></i>
                        </button>
                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-buttons">
                                <a (click)="addToCart(product, counter)" [routerLink]="" class="btn btn-solid">add to
                                    cart</a>
                                <a [routerLink]="['/home/no-sidebar/product', product.id]" class="btn btn-solid">view
                                    detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quick-view modal popup end-->
