<!-- footer start -->
<footer class="footer-type">
    <div class="dark-layout">
        <div class="container">
            <section class="section-b-space">
                <div class="row footer-theme2">
                    <div class="col-lg-3">
                        <div class="footer-title footer-mobile-title">
                            <h4>about</h4>
                        </div>
                        <div class="footer-contant">
                            <div class="footer-logo">
                                <img alt="" src="assets/images/icon/logo/f2.png">
                            </div>
                            <app-information></app-information>
                        </div>
                    </div>
                    <div class="col-lg-6 subscribe-wrapper">
                        <div class="subscribe-block">
                            <h2>{{"newsletter"|translate}}</h2>
                            <form (ngSubmit)='subscribe()' [formGroup]='formGroup'>
                                <div class="form-group">
                                    <input class="form-control" formControlName='email' id="exampleFormControlInput3"
                                           placeholder="Enter your email" type="email">
                                    <button [disabled]='!formGroup.valid' class="btn btn-solid btn-green" type="submit">
                                        {{"subscribe"|translate}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-title">
                            <h4>{{"storeInformation"|translate}}</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-details">
                                <li>Orient Mall</li>
                                <li>{{"call-us"|translate}}</li>
                                <li>Email Us: <a href="#">Contact@orient-mall.ma</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <app-copyright></app-copyright>
        </div>
    </div>
</footer>
<!-- footer end -->
<!-- Rtl start -->
<!--<div class="rtl-btn" id="">
    <a class="RTL_cls" href="javascript:void(0)">
        RTL
    </a>
</div>-->
<!-- rtl end -->
