<div class="img-wrapper">
    <div *ngIf='product.newest' class="ribbon"><span>new</span></div>
    <div class="front">
        <a [routerLink]="['/home/left-sidebar/product', product.id]"><img [src]="product.pictures[0]" alt=""
                                                                          class="img-fluid"></a>
    </div>
    <div *ngIf="!productsService?.catalogMode" class="cart-info cart-wrap">
        <a (click)="addToWishlist(product)" [routerLink]="" title="Add to Wishlist">
            <i aria-hidden="true" class="fa fa-heart"></i>
        </a>
        <button (click)="addToCart(product)" [attr.data-target]="'#addtocart'+product.id" data-toggle="modal"
                title="Add to cart">
            <i class="ti-shopping-cart"></i> Add to cart
        </button>
        <a (click)="addToCompare(product)" [routerLink]="['/home/compare']" title="Compare">
            <i aria-hidden="true" class="fa fa-refresh"></i>
        </a>
        <a [attr.data-target]="'#quick-view'+product.id" [routerLink]="" class="mobile-quick-view" data-toggle="modal"
           title="Quick View">
            <i aria-hidden="true" class="ti-search"></i>
        </a>
    </div>
    <div class="quick-view-part">
        <a [attr.data-target]="'#quick-view'+product.id" [routerLink]="" data-toggle="modal" title="Quick View">
            <i aria-hidden="true" class="ti-search"></i>
        </a>
    </div>
</div>
<div class="product-info">
    <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
    <a [routerLink]="['/home/left-sidebar/product', product.id]">
        <h6>{{product.name}}</h6>
    </a>
    <h4 *ngIf="!productsService?.catalogMode">{{product.price | currency:productsService?.currency:'symbol'}}</h4>
</div>
