<div class="media">
    <a [routerLink]="['/home/no-sidebar/product', product.id]"><img
            [src]="!variantImage ? product.pictures[0] : variantImage" alt="" class="img-fluid"></a>
    <div class="media-body align-self-center">
        <div class="rating">
            <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
        </div>
        <a [routerLink]="['/home/no-sidebar/product', product.id]"><h6>{{product.name}}</h6></a>
        <!--
                <h4 *ngIf="!productsService?.catalogMode">{{product.price | currency:productsService?.currency:'symbol'}}</h4>
        -->
        <h4>{{product.price }}</h4>
        <ul *ngIf="product.variants" class="color-variant">
            <li (click)="changeVariantImage(variant.images)" *ngFor="let variant of product.variants"
                [class]="variant.color"></li>
        </ul>
    </div>
</div>
