<div class="row">
    <div class="col-lg-6">
        <div class="header-contact">
            <ul>
                <li>{{ 'topbar-title' | translate }}</li>
                <li><i aria-hidden="true" class="fa fa-phone"></i>{{ 'call-us' | translate }}: 123 - 456 - 7890</li>
            </ul>
        </div>
    </div>
    <div *ngIf="!productsService?.catalogMode" class="col-lg-6 text-right">
        <ul class="header-dropdown">
            <li class="compare">
                <a [routerLink]="'/home/compare'"><i aria-hidden="true"
                                                     class="fa fa-random"></i>{{ 'compare' | translate }}</a>
            </li>
            <li class="mobile-wishlist">
                <a [routerLink]="'/home/wishlist'"><i aria-hidden="true"
                                                      class="fa fa-heart"></i>{{ 'wishlist' | translate }}</a>
            </li>
            <li class="onhover-dropdown mobile-account">
                <i aria-hidden="true" class="fa fa-user"></i> {{ 'my-account' | translate }}
                <ul class="onhover-show-div">
                    <li>
                        <a [routerLink]="'/pages/login'" data-lng="en">
                            {{ 'login' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/home/six'" data-lng="es">
                            {{ 'logout' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>





