<!-- side-bar single product slider start -->
<div class="theme-card">
    <h5 class="title-border">new product</h5>
    <ngx-slick-carousel #slickModal="slick-carousel" class="offer-slider">
        <div *ngFor="let product of products | slice:0:3 " ngxSlickItem>
            <div *ngFor="let product of products | orderBy:'asc' | slice:0:3 " class="media">
                <a [routerLink]="['/home/no-sidebar/product', product.id]"><img [src]="product.pictures[0]" alt=""
                                                                                class="img-fluid"></a>
                <div class="media-body align-self-center">
                    <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
                    <a [routerLink]="['/home/no-sidebar/product', product.id]"><h6>{{product.name}}</h6></a>
<!--
                    <h4 *ngIf="!productsService?.catalogMode">{{product.price | currency:productsService?.currency:'symbol'}}</h4>
-->
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>
<!-- side-bar single product slider end -->
