<!-- header start -->
<header class="header-type" id="header-type">
    <div class="mobile-fix-option"></div>
    <div class="top-header">
        <div class="container">
            <app-topbar></app-topbar>
        </div>
    </div>
    <div class="container logo-menu-part">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="navbar">
                            <a (click)="openNav()">
                                <div class="bar-style">
                                    <i aria-hidden="true" class="fa fa-bars sidebar-bar"></i>
                                </div>
                            </a>
                            <div class="sidenav" id="mySidenav">
                                <a (click)="closeNav()" [routerLink]="" class="sidebar-overlay"></a>
                                <nav>
                                    <div (click)="closeNav()">
                                        <div class="sidebar-back text-left">
                                            <i aria-hidden="true" class="fa fa-angle-left pr-2"></i> Back
                                        </div>
                                    </div>
                                    <app-left-menu></app-left-menu>
                                </nav>
                            </div>
                        </div>
                        <div class="brand-logo" id="headerlogo">
                            <a [routerLink]="['/home/six']">
                                <img alt="" class="img-fluid" src="assets/images/icon/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="menu-right pull-right">
                        <div>
                            <app-navbar></app-navbar>
                        </div>
                        <div>
                            <app-header-widgets [shoppingCartItems]="shoppingCartItems"></app-header-widgets>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
