<div class="icon-nav">
    <ul>
        <li class="onhover-div mobile-search search-widgets" id="search-widgets">
            <div>
                <img (click)="openSearch()" alt="" class="img-fluid" src="assets/images/icon/search.png">
                <i (click)="openSearch()" class="ti-search"></i>
            </div>
        </li>
        <!--<li class="onhover-div mobile-setting">
            <div><img alt="" class="img-fluid" src="assets/images/icon/setting.png">
                <i class="ti-settings"></i></div>
            <div class="show-div setting">
                <h6>language</h6>
                <ul>
                    <li><a (click)="changeLanguage('en')" [routerLink]="">English</a></li>
                    <li><a (click)="changeLanguage('fr')" [routerLink]="">French</a></li>
                </ul>
                <h6 *ngIf="!productsService?.catalogMode">currency</h6>
                <ul *ngIf="!productsService?.catalogMode" class="list-inline">
                    <li><a (click)="updateCurrency('USD')" [routerLink]="">Dollar</a></li>
                    <li><a (click)="updateCurrency('EUR')" [routerLink]="">Euro</a></li>
                    <li><a (click)="updateCurrency('INR')" [routerLink]="">Rupees</a></li>
                    <li><a (click)="updateCurrency('GBP')" [routerLink]="">Pound</a></li>
                </ul>
            </div>
        </li>-->
        <li *ngIf="!productsService?.catalogMode" class="onhover-div mobile-cart">
            <div>
                <a [routerLink]="'/home/cart'">
                    <img alt="" class="img-fluid" src="assets/images/icon/cart.png">
                    <i class="ti-shopping-cart"></i>
                </a>
            </div>
            <ul *ngIf='!shoppingCartItems.length' class="show-div shopping-cart">
                <h5>Your cart is currently empty.</h5>
            </ul>
            <span class="cart_qty_cls">{{shoppingCartItems.length}}</span>
            <ul *ngIf='shoppingCartItems.length' class="show-div shopping-cart">
                <li *ngFor="let item of shoppingCartItems">
                    <div class="media">
                        <a [routerLink]="['/home/left-sidebar/product', item.product.id]"><img
                                [src]="item.product.imageCover" alt="Generic placeholder image" class="mr-3"></a>
                        <div class="media-body">
                            <a [routerLink]="['/home/left-sidebar/product', item.product.id]">
                                <h4>{{ item.product.name }}</h4></a>
                            <h4><span>{{ item.quantity }}
                                x {{ item.product.price | currency:productsService?.currency:'symbol' }}</span></h4>
                        </div>
                    </div>
                    <div class="close-circle">
                        <a (click)="removeItem(item)"><i aria-hidden="true" class="fa fa-times"></i></a>
                    </div>
                </li>
                <li>
                    <div class="total">
                        <h5>subtotal :
                            <span>{{ getTotal() | async | currency:productsService?.currency:'symbol'}}</span></h5>
                    </div>
                </li>
                <li>
                    <div class="buttons">
                        <a [routerLink]="'/home/cart'" class="view-cart">view cart</a>
                        <a [routerLink]="'/home/checkout'" class="checkout">checkout</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- Search -->
<div *ngIf="show" [ngStyle]="{ 'display': 'block' }" class="search-overlay" id="search-overlay">
    <div>
        <span (click)="closeSearch()" class="closebtn" title="Close Overlay">×</span>
        <div class="overlay-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <!--<form>
                            <div class="form-group">
                                <input class="form-control" id="exampleInputPassword1" placeholder="Search a Product"
                                       type="text">
                            </div>
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                        </form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
