<!-- Add to cart modal popup start-->
<div *ngFor="let product of products" [id]="'addtocart'+product.id" aria-hidden="true"
     class="modal fade bd-example-modal-lg theme-modal cart-modal addTocartModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modal1">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="modal-bg addtocart">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="media">
                                    <a [routerLink]="['/home/no-sidebar/product', product.id]">
                                        <img [src]="product.imageCover" alt="" class="img-fluid pro-img">
                                    </a>
                                    <div class="media-body align-self-center text-center">
                                        <a [routerLink]="['/home/no-sidebar/product', product.id]">
                                            <h6>
                                                <i class="fa fa-check"></i>Item
                                                <span>{{product.name}}</span>
                                                <span> successfully added to your Cart</span>
                                            </h6>
                                        </a>
                                        <div class="buttons">
                                            <a [routerLink]="['/home/cart']" class="view-cart btn btn-solid">Your
                                                cart</a>
                                            <a [routerLink]="['/home/checkout']" class="checkout btn btn-solid">Check
                                                out</a>
                                            <a data-dismiss="modal" href=''
                                               class="continue btn btn-solid">Continue shopping</a>
                                        </div>

                                        <div class="upsell_payment">
                                            <img alt="" class="img-fluid" src="assets/images/payment_cart.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="product-section">
                                    <div class="col-12 product-upsell text-center">
                                        <h4>Customers who bought this item also.</h4>
                                    </div>
                                    <div class="row" id="upsell_product">
                                        <div *ngFor="let relatedProduct of relatedProducts(product) | slice:0:4"
                                             class="product-box col-sm-3 col-6">
                                            <div class="img-wrapper">
                                                <div class="front">
                                                    <a [routerLink]="['/home/no-sidebar/product', relatedProduct.id]">
                                                        <img [src]="relatedProduct.imageCover" alt=""
                                                             class="img-fluid mb-1">
                                                    </a>
                                                </div>
                                                <div class="product-detail">
                                                    <h6 class="mt-0"><a
                                                            [routerLink]="['/home/no-sidebar/product', relatedProduct.id]"><span>{{relatedProduct.name}}</span></a>
                                                    </h6>
                                                    <h4>
                                                        <span>{{relatedProduct.price | currency:productsService?.currency:'symbol'}}</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add to cart modal popup end-->
