<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>product</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/six'">Home</a></li>
                        <li aria-current="page" class="breadcrumb-item active">product</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-10 col-xs-12">
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideRightConfig"
                                        *ngIf='loaded' class="product-right-slick">
                        <div *ngFor="let image of product.images" ngxSlickItem>
                            <div>
                                <img [alt]="" [attr.src]="image.url" class="img-fluid">
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
                <div class="col-lg-1 col-sm-2 col-xs-12">
                    <div class="row">
                        <div class="col-12 p-0">
                            <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideRightNavConfig"
                                                *ngIf='loaded' class="slider-right-nav">
                                <div *ngFor="let image of product.images" ngxSlickItem>
                                    <div>
                                        <img [alt]="" [attr.data-lazy]="image.url" class="img-fluid">
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">

                        <h2>{{product?.name}}</h2>

                        <bar-rating [rate]="product?.startGlobal" [readOnly]="true"
                                    [theme]="'fontawesome-o'"></bar-rating>

                        <h4 *ngIf='product?.onSale'>
                            <!--
                                                        <del>{{product?.salePrice | currency:productsService?.currency:'symbol'}}</del>
                            -->
                            <del>{{product?.salePrice}}</del>
                            <span>{{product?.discount.percent * 100}}% off</span>
                        </h4>

                        <!--
                                                <h3 *ngIf="!productsService?.catalogMode">{{product?.price | currency:productsService?.currency:'symbol'}}</h3>
                        -->
                        <h3>{{product?.price  | currency:productsService?.currency:'symbol'}}</h3>
                        <!--<ul *ngIf="!productsService?.catalogMode" class="color-variant">
                            <li (click)="slickModal.slickGoTo(i)"
                                *ngFor="let variant of product?.variants let i = index"
                                [class]="variant.color"></li>
                        </ul>-->
                        <!--
                                                <div *ngIf="!productsService?.catalogMode" class="product-description border-product">
                        -->
                        <div class="product-description border-product">

                            <div *ngFor='let characteristic of product?.productCharacteristics'>
                                <h6 class="product-title size-text">select {{characteristic.characteristicName}}
                                    <span><a data-target="#sizemodal" data-toggle="modal"
                                             href="">{{characteristic.characteristicName}}</a></span>
                                </h6>
                                <div class="size-box">
                                    <ul>
                                        <li *ngFor="let cValue of characteristic.value"
                                            [ngClass]="{'active': getSelectedValue(characteristic.characteristicName) == cValue}">
                                            <a (click)="changeCharacteristicVariant(cValue, characteristic.characteristicName)"
                                               [routerLink]="">{{cValue}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <h5 *ngIf="counter <= product?.stockQte" class="avalibility"><span>In Stock</span></h5>
                            <h5 *ngIf="counter > product?.stockQte" class="avalibility"><span>Out of Stock</span></h5>
                            <h6 class="product-title">quantity</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                              <span class="input-group-prepend">
                                                <button (click)="decrement()" class="btn quantity-left-minus"
                                                        data-field="" data-type="minus" type="button">
                                                 <i class="ti-angle-left"></i>
                                                </button>
                                              </span>
                                    <input class="form-control input-number" disabled name="quantity" type="text"
                                           value="{{counter}}">
                                    <span class="input-group-prepend">
                                                <button (click)="increment()" class="btn quantity-right-plus"
                                                        data-field="" data-type="plus" type="button">
                                                <i class="ti-angle-right"></i>
                                                </button>
                                               </span>
                                </div>
                            </div>
                        </div>
                        <!--
                                                <div *ngIf="!productsService?.catalogMode" class="product-buttons">
                        -->
                        <div class="product-buttons">
                            <a (click)="addToCart(product, counter)" [class.disabled]="counter > product?.stockQte"
                               class="btn btn-solid">add to cart</a>
                            <a (click)="buyNow(product, counter)" [class.disabled]="counter > product?.stockQte"
                               class="btn btn-solid">buy now</a>
                        </div>
                        <!--<div class="border-product">
                            <h6 class="product-title">product details</h6>
                            <p>{{product?.shortDetails}}</p>
                        </div>-->
                        <!--<div class="border-product">
                            <h6 class="product-title">share it</h6>
                            <div class="product-icon">
                                <ul class="product-social">
                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://plus.google.com/discover"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                                <form *ngIf="!productsService?.catalogMode" class="d-inline-block">
                                    <button (click)="addToWishlist(product)" class="wishlist-btn"><i
                                            class="fa fa-heart"></i><span class="title-font">Add To WishList</span>
                                    </button>
                                </form>
                            </div>
                        </div>-->
                        <div *ngIf="product?.onSale && loaded" class="border-product">
                            <h6 class="product-title">Time Reminder</h6>
                            <div class="timer">
                                <p id="timer">
                                    <span>{{dateLeft?.days}}
                                        <span class="padding-l">:</span>
                                        <span class="timer-cal">Days</span>
                                    </span>
                                    <span>{{dateLeft?.hours}}
                                        <span class="padding-l">:</span>
                                        <span class="timer-cal">Hrs</span>
                                    </span>
                                    <span>{{dateLeft?.minutes}}
                                        <span class="padding-l">:</span>
                                        <span class="timer-cal">Min</span>
                                    </span>
                                    <span>{{dateLeft?.seconds}}
                                        <span class="timer-cal">Sec</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- product-tab stars -->
<section class="tab-product m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item">
                        <a aria-selected="true" class="nav-link active" data-toggle="tab" href="#top-home"
                           id="top-home-tab" role="tab">Description</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a aria-selected="false" class="nav-link" data-toggle="tab" href="#top-profile"
                           id="profile-top-tab" role="tab">Specifications</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a aria-selected="false" class="nav-link" data-toggle="tab" href="#top-contact"
                           id="contact-top-tab" role="tab">Video</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a aria-selected="false" class="nav-link" data-toggle="tab" href="#top-review"
                           id="review-top-tab" role="tab">Write Review</a>
                        <div class="material-border"></div>
                    </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div aria-labelledby="top-home-tab" class="tab-pane fade show active" id="top-home" role="tabpanel">
                        <p>
                            {{product?.overview}}
                        </p>
                    </div>
                    <div aria-labelledby="profile-top-tab" class="tab-pane fade" id="top-profile" role="tabpanel">
                        <div class="single-product-tables">
                            <table *ngIf='loaded' class='table table-striped table-bordered'>
                                <tbody>
                                <tr *ngFor='let spec of product.specifications'>
                                    <td>{{spec.name}}</td>
                                    <td>{{spec.value}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div aria-labelledby="contact-top-tab" class="tab-pane fade" id="top-contact" role="tabpanel">
                        <div class="mt-3 text-center">
                            <iframe allow="autoplay; encrypted-media" allowfullscreen autofocus height="315"
                                    src="https://www.youtube.com/embed/BUWzX78Ye_8" width="560"></iframe>
                        </div>
                    </div>
                    <div aria-labelledby="review-top-tab" class="tab-pane fade" id="top-review" role="tabpanel">

                        <form (ngSubmit)='postReview()' [formGroup]="reviewFormGroup" class="theme-form">
                            <div class="form-row">
                                <div class="col-md-12 ">
                                    <div class="media">
                                        <label style='margin-right: 10px'>Rating</label>
                                        <bar-rating [rate]="" [theme]="'fontawesome-o'"
                                                    formControlName='stars'></bar-rating>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="fullName">Name</label>
                                    <input class="form-control" formControlName='customerFullName' id="fullName"
                                           placeholder="Enter Your name"
                                           required type="text">
                                </div>
                                <div class="col-md-6">
                                    <label for="email">Email</label>
                                    <input class="form-control" formControlName='customerEmail' id="email"
                                           placeholder="Email" required
                                           type="text">
                                </div>
                                <div class="col-md-12">
                                    <label for="comment">Review Title</label>
                                    <textarea class="form-control" formControlName='comment'
                                              id='comment' placeholder="Wrire Your Testimonial Here"
                                              rows="6"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button [disabled]='!reviewFormGroup.valid' class="btn btn-solid" type="submit">
                                        Submit
                                        Your Review
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class='flex flex-column '>
                            <div *ngFor='let review of product?.reviews'
                                 class='row'
                                 style='background-color: rgba(211,147,224,0.07); border-bottom: 1px solid #18021a; margin: 20px auto; padding: 10px'>
                                <div class='col-lg-2 col-md-12'>
                                    <span>Abdelilah Dehaoui</span>
                                </div>
                                <div class='col-lg-10 col-md-12'>
                                    <bar-rating [rate]="review.stars" [readOnly]="true"
                                                [theme]="'fontawesome-o'"></bar-rating>
                                    <span>{{review.comment}}</span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-tab ends -->
<app-related-products></app-related-products>
