<nav id="main-nav">
    <div class="toggle-nav">
        <i class="fa fa-bars sidebar-bar"></i>
    </div>
    <!-- Sample menu definition -->
    <ul class="sm pixelstrap sm-horizontal" id="main-menu">

        <li>
            <div class="mobile-back text-right">
                Back<i aria-hidden="true" class="fa fa-angle-right pl-2"></i>
            </div>
        </li>
        <!-- 1st Level Menu -->
        <li *ngFor="let menuItem of menuItems" [class]="menuItem.megaMenu ? 'mega' : ''"
            [id]="menuItem.megaMenuType == 'large' ? 'hover-cls' : ''">
            <!-- Sub -->
            <a *ngIf="menuItem.type === 'sub'" href="javascript:void(0)">
                {{menuItem.title | translate}}
            </a>
            <!-- Link -->
            <a *ngIf="menuItem.type === 'link'" [routerLink]="!menuItem.type ? null : [menuItem.path]">
                {{menuItem.title | translate}}
            </a>
            <!-- External Link -->
            <a *ngIf="menuItem.type === 'extLink'" href="{{ !menuItem.type ? null : menuItem.path }}">
                {{menuItem.title | translate}}
            </a>
            <!-- External Tab Link -->
            <a *ngIf="menuItem.type === 'extTabLink'" href="{{ !menuItem.type ? null : menuItem.path }}">
                {{menuItem.title | translate}}
            </a>


            <!-- 2nd Level Menu -->
            <ul *ngIf="menuItem.children"
                [class]="menuItem.megaMenu && menuItem.megaMenuType == 'small' ? 'mega-menu feature-menu' : menuItem.megaMenuType == 'medium' ? 'mega-menu feature-menu product-menu' : menuItem.megaMenuType == 'large' ? 'mega-menu full-mega-menu' : '' "
                [id]="'mega-menu'">
                <!-- Simple Menu Start-->
                <ng-container *ngIf="!menuItem.megaMenu">
                    <li *ngFor="let childrenItem of menuItem.children">
                        <!-- Sub -->
                        <a *ngIf="childrenItem.type === 'sub'" href="javascript:void(0)">
                            {{childrenItem.title | translate}}
                        </a>
                        <!-- Link -->
                        <a *ngIf="childrenItem.type === 'link' && !menuItem.megaMenu"
                           [routerLink]="!childrenItem.type ? null : [childrenItem.path]">
                            {{childrenItem.title | translate}}
                        </a>
                        <!-- External Link -->
                        <a *ngIf="childrenItem.type === 'extLink' && !menuItem.megaMenu"
                           href="{{ !childrenItem.type ? null : childrenItem.path }}">
                            {{childrenItem.title | translate}}
                        </a>
                        <!-- External Tab Link -->
                        <a *ngIf="childrenItem.type === 'extTabLink' && !menuItem.megaMenu"
                           href="{{ !childrenItem.type ? null : childrenItem.path }}" target="_blank">
                            {{childrenItem.title | translate}}
                        </a>
                        <!-- 3rd Level Menu -->
                        <ul *ngIf="childrenItem.children">
                            <li *ngFor="let childrenSubItem of childrenItem.children">
                                <!-- Link -->
                                <a *ngIf="childrenSubItem.type === 'link' && !menuItem.megaMenu"
                                   [routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]">
                                    {{childrenSubItem.title | translate}}
                                </a>
                                <!-- External Link -->
                                <a *ngIf="childrenSubItem.type === 'extLink' && !menuItem.megaMenu"
                                   href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}">
                                    {{childrenSubItem.title | translate}}
                                </a>
                                <!-- External Tab Link -->
                                <a *ngIf="childrenSubItem.type === 'extTabLink' && !menuItem.megaMenu"
                                   href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}" target="_blank">
                                    {{childrenSubItem.title | translate}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ng-container>
                <!-- Simple Menu End-->
                <!-- Small And Medium Mega Menu Start-->
                <ng-container
                        *ngIf="menuItem.megaMenu && menuItem.megaMenuType == 'small' || menuItem.megaMenuType == 'medium'">
                    <li>
                        <div class="container">
                            <div class="row">
                                <div *ngFor="let childrenItem of menuItem.children"
                                     [class]="menuItem.megaMenuType == 'small' ? 'col-xl-4' : menuItem.megaMenuType == 'medium' ? 'col-xl-3' : '' ">
                                    <!-- Link -->
                                    <a *ngIf="childrenItem.type === 'link'"
                                       [routerLink]="!childrenItem.type ? null : [childrenItem.path]">
                                        <img [src]="childrenItem.image" alt="">
                                        <h6>{{childrenItem.title | translate}}</h6>
                                    </a>
                                    <!-- External Link -->
                                    <a *ngIf="childrenItem.type === 'extLink'"
                                       href="{{ !childrenItem.type ? null : childrenItem.path }}">
                                        <img [src]="childrenItem.image" alt="">
                                        <h6>{{childrenItem.title | translate}}</h6>
                                    </a>
                                    <!-- External Tab Link -->
                                    <a *ngIf="childrenItem.type === 'extTabLink'"
                                       href="{{ !childrenItem.type ? null : childrenItem.path }}" target="_blank">
                                        <img [src]="childrenItem.image" alt="">
                                        <h6>{{childrenItem.title | translate}}</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
                <!-- Small And Medium Mega Menu End-->
                <!-- Large Mega Menu Start-->
                <ng-container *ngIf="menuItem.megaMenu && menuItem.megaMenuType == 'large'">
                    <li>
                        <div class="container">
                            <div class="row">
                                <div *ngFor="let childrenItem of menuItem.children" class="col mega-box">
                                    <div class="link-section">
                                        <div class="menu-title">
                                            <h5>{{childrenItem.title | translate}}</h5>
                                        </div>
                                        <div class="menu-content">
                                            <!-- 3nd Level Mega Menu -->
                                            <ul>
                                                <li *ngFor="let childrenSubItem of childrenItem.children">
                                                    <!-- Link -->
                                                    <a *ngIf="childrenSubItem.type === 'link'"
                                                       [routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]">
                                                        {{childrenSubItem.title | translate}}
                                                    </a>
                                                    <!-- External Link -->
                                                    <a *ngIf="childrenSubItem.type === 'extLink'"
                                                       href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}">
                                                        {{childrenSubItem.title | translate}}
                                                    </a>
                                                    <!-- External Tab Link -->
                                                    <a *ngIf="childrenSubItem.type === 'extTabLink'"
                                                       href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}"
                                                       target="_blank">
                                                        {{childrenSubItem.title | translate}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row banner-padding">
                            <div class="col-xl-6">
                                <a [routerLink]="'/home/left-sidebar/collection/all'" class="mega-menu-banner">
                                    <img alt="" class="img-fluid d-none d-xl-block "
                                         src="assets/images/mega-menu/1.jpg">
                                </a>
                            </div>
                            <div class="col-xl-6">
                                <a [routerLink]="'/home/left-sidebar/collection/all'" class="mega-menu-banner">
                                    <img alt="" class="img-fluid d-none d-xl-block" src="assets/images/mega-menu/2.jpg">
                                </a>
                            </div>
                        </div>
                    </li>
                </ng-container>
                <!-- Large Mega Menu End-->
            </ul>
        </li>

    </ul>
</nav>
