<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>faq</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">home</a></li>
                        <li aria-current="page" class="breadcrumb-item active">faq</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="accordion theme-accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link"
                                        data-target="#collapseOne" data-toggle="collapse" type="button">
                                    How can I downgrade to an earlier version of Dummy Content?
                                </button>
                            </h5>
                        </div>

                        <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample"
                             id="collapseOne">
                            <div class="card-body">
                                <p>it look like readable English. Many desktop publishing packages and web page editors
                                    now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                                    uncover many web sites still in their infancy. Various versions have evolved over
                                    the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                    chunks as necessary, making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words, combined with a handful of model sentence
                                    structures</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed"
                                        data-target="#collapseTwo" data-toggle="collapse" type="button">
                                    How can I upgrade from Shopify 2.5 to shopify 3?
                                </button>
                            </h5>
                        </div>
                        <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample"
                             id="collapseTwo">
                            <div class="card-body">
                                <p>it look like readable English. Many desktop publishing packages and web page editors
                                    now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                                    uncover many web sites still in their infancy. Various versions have evolved over
                                    the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                    chunks as necessary, making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words, combined with a handful of model sentence
                                    structures</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button aria-controls="collapseThree" aria-expanded="false"
                                        class="btn btn-link collapsed" data-target="#collapseThree"
                                        data-toggle="collapse" type="button">
                                    Under what license are Regular Labs extensions released?
                                </button>
                            </h5>
                        </div>
                        <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample"
                             id="collapseThree">
                            <div class="card-body">
                                <p>it look like readable English. Many desktop publishing packages and web page editors
                                    now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                                    uncover many web sites still in their infancy. Various versions have evolved over
                                    the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                    chunks as necessary, making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words, combined with a handful of model sentence
                                    structures</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button aria-controls="collapseFour" aria-expanded="false"
                                        class="btn btn-link collapsed" data-target="#collapseFour"
                                        data-toggle="collapse" type="button">
                                    What is the Regular Labs Library?
                                </button>
                            </h5>
                        </div>
                        <div aria-labelledby="headingFour" class="collapse" data-parent="#accordionExample"
                             id="collapseFour">
                            <div class="card-body">
                                <p>it look like readable English. Many desktop publishing packages and web page editors
                                    now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                                    uncover many web sites still in their infancy. Various versions have evolved over
                                    the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                    chunks as necessary, making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words, combined with a handful of model sentence
                                    structures</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button aria-controls="collapseFive" aria-expanded="false"
                                        class="btn btn-link collapsed" data-target="#collapseFive"
                                        data-toggle="collapse" type="button">
                                    Can I turn on/off some blocks on the page?
                                </button>
                            </h5>
                        </div>
                        <div aria-labelledby="headingFive" class="collapse" data-parent="#accordionExample"
                             id="collapseFive">
                            <div class="card-body">
                                <p>it look like readable English. Many desktop publishing packages and web page editors
                                    now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                                    uncover many web sites still in their infancy. Various versions have evolved over
                                    the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                    chunks as necessary, making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words, combined with a handful of model sentence
                                    structures</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button aria-controls="collapseSix" aria-expanded="false" class="btn btn-link collapsed"
                                        data-target="#collapseSix" data-toggle="collapse" type="button">
                                    What is included in the theme package?
                                </button>
                            </h5>
                        </div>
                        <div aria-labelledby="headingSix" class="collapse" data-parent="#accordionExample"
                             id="collapseSix">
                            <div class="card-body">
                                <p>it look like readable English. Many desktop publishing packages and web page editors
                                    now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                                    uncover many web sites still in their infancy. Various versions have evolved over
                                    the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                    chunks as necessary, making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words, combined with a handful of model sentence
                                    structures</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->