<!-- header start -->
<header class="sticky" id="sticky">
    <div class="mobile-fix-option"></div>
    <div class="top-header" id="top-header-type">
        <div class="container-fluid">
            <app-topbar></app-topbar>
        </div>
    </div>
    <div class="container-fluid layout3-menu">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu row">
                    <div class="col">
                        <div class="menu-left around-border">
                            <div class="navbar">
                                <a (click)="openNav()">
                                    <i aria-hidden="true" class="fa fa-bars sidebar-bar"></i>
                                </a>
                                <div class="sidenav" id="mySidenav">
                                    <a (click)="closeNav()" [routerLink]="" class="sidebar-overlay"></a>
                                    <nav>
                                        <div (click)="closeNav()">
                                            <div class="sidebar-back text-left">
                                                <i aria-hidden="true" class="fa fa-angle-left pr-2"></i> Back
                                            </div>
                                        </div>
                                        <app-left-menu></app-left-menu>
                                    </nav>
                                </div>
                            </div>
                            <div class="main-menu-right">
                                <app-navbar></app-navbar>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="brand-logo">
                            <a [routerLink]="['/home/six']"><img alt="" src="assets/images/icon/logo.png"></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="menu-right pull-right">
                            <div>
                                <app-header-widgets [shoppingCartItems]="shoppingCartItems"></app-header-widgets>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
